/*.bp-footer {
  background-color: #453c3c;
  color: white;
  display: flex;
  padding-top: 5px;
  position: absolute;
  width: 100%;
}

.bp-footer-elem ul {
  list-style: none;
}

----------------Mentions-------------
.mentions {
  flex-direction: row;
  padding-left: 22px;
}
.mentions li {
  padding: 2px;
}

.mentions a {
  text-decoration: none;
  color: white;
}

.mentions a:hover {
  color: aqua;
}
/*----------------Socials-network-------------
.socials-network {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-network li {
  padding: 10px;
}

.socials-network a {
  text-decoration: none;
  color: white;
}

.socials-network a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
}

.socials-network a:hover i {
  color: aqua;
}
/*----------------Adress-------------
.adress li {
  padding-right: 52px;
}

/*----------------copyright-------------
.footer-bottom {
  font-size: 13px;
  color: white;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}
*/
